@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4 text-info">Добро пожаловать в OnlineShop</h3>
    <p class="display-4">Воспользуйтесь меню для навигации</p>
</div>
