<div class="text-center">
    <h3 class="display-4 text-success">Выберите дальнейший способ доставки:</h3>
    <a class="btn btn-success" asp-controller="Delivery" asp-action="Warehouse">Забрать со склада</a>
    <a class="btn btn-success" asp-controller="Delivery" asp-action="Mail">Получение на почте</a>
    <a class="btn btn-success" asp-controller="Delivery" asp-action="Home">Оформить доставку на дом</a>
</div>
